.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
src/**
docs/**
samples/**
*.md
!README.md
.github/**
*.ps1
test*.json
*.bat
*.sln
obj/**
CHANGELOG.md
PROJECT-SUMMARY.md
QUICKSTART.md
TEST-RESULTS.md
